//Colors
$primary: #3a9acd !default;
$error: #e83b35 !default;

$states: (
  ('primary', $primary, white, transparent, darken($primary, 8%), darken($primary, 6%), darken($primary, 4%)),
  ('error', $error, white, transparent, darken($error, 8%), darken($error, 6%), darken($error, 4%))
);

@function GetVariable($key) {
  @return var(--vue-elder-#{$key});
}

@mixin GenerateVariable($key, $value) {
  --vue-elder-#{$key}: #{$value};
}

@mixin GenerateVariables {
  @include GenerateVariable('border-radius', 3px);
  @include GenerateVariable('border-color', #eaeaea);
  @include GenerateVariable('input-color', #f2f2f2);

  @each $state in $states {
    @include GenerateVariable(nth($state, 1), nth($state, 2));
    @include GenerateVariable('#{nth($state, 1)}-contrast', nth($state, 3));
    @include GenerateVariable('#{nth($state, 1)}-border', nth($state, 4));
    @include GenerateVariable('#{nth($state, 1)}-hover', nth($state, 5));
    @include GenerateVariable('#{nth($state, 1)}-active', nth($state, 6));
    @include GenerateVariable('#{nth($state, 1)}-focus', nth($state, 7));
  }
}
